@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-gradient {
  stroke: transparent;
  background: linear-gradient(to right, #9b7ae9, #9b7ae9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, #434345, #212023);
}
